{% extends './top-bottom-overlay.njk' %}

{% from "macros/heading.njk" import heading %}

{% block subcontent %}
  <div>
    {{ heading(title) }}
    <div class="markdown text-center max-w-xl mx-auto">
      {{ content | safe }}
    </div>
  </div>

  <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 p-8">
    {% for client in clients %}
      <li class="aspect-w-4 aspect-h-3">
        <div class="flex justify-center items-center">
          <img src="/{{ client.logo }}" alt="{{ client.name }} logo" />
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
