{% extends './top-bottom-overlay.njk' %}

{% from "macros/heading.njk" import heading %}

{% block subcontent %}
<div class="p-4 max-w-xl mx-auto markdown">
  {{ heading(title) }}
  <div class="markdown text-center">
    {{ content | safe }}
  </div>
</div>
{% endblock %}
