---
layout: top-bottom-overlay
---

{% from "macros/icon-header.njk" import iconHeader %}
{% from "macros/heading.njk" import heading %}

{{ iconHeader('/src/static/images/icons/circle-hands.svg') }}

<div class="p-4 max-w-xl mx-auto markdown">
  {{ heading(title) }}
  <div class="markdown text-center">
    {{ content | safe }}
  </div>
</div>
