<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }} | Spark Communications - Technology PR
    </title>
    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      cross-origin="true"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400;1,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="">

    <header class="relative min-h-header" style="background: gray">
      <div class="relative z-10 hidden justify-between mx-auto pt-16 max-w-5xl md:flex p-4">
        {% if page.url == "/" %}
          <div class="text-white flex">
            {{ '/src/static/images/icons/logo_text-bottom.svg' | svgContents('fill-current h-20') | safe }}
          </div>
        {% else %}
          <div class="flex">
            <a href="/" class="text-white hover:text-orange">
              {{ '/src/static/images/icons/logo_text-bottom.svg' | svgContents('fill-current h-20') | safe }}
            </a>
          </div>
        {% endif %}

        {% include 'top-navigation.njk' %}
      </div>
    </header>

    <main class="relative px-4 bg-silver">
      {% block content %}default content{% endblock %}
    </main>

    {{ collections.all[0].template.templateData.globalData | consoleLog | safe }}

    <footer class="relative bg-black">
      <div class="relative z-10 px-4 pb-12 max-w-5xl text-white text-sm md:mx-auto {% block footerTopPaddingClass %}pt-12{% endblock %}">
        {% include 'footer-content.njk' %}
      </div>
    </footer>


    <script src="/static/js/alpine.js"></script>

    {% if page.url == "/" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>
